   <!-- User Registration form  -->
   <form action="/login" method="post" class="main-form mt-10 needs-validation" novalidate>
    <fieldset>
        <legend>Login Form  </legend>
        <div class="form-row">
            <div class="form-group col-md">
                <label for="email">Email :</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter User name" required>
                <small id="emailHelp" class="form-text text-muted">This should be Your email</small>
                <div class="invalid-feedback">
                    Please Enter a correct email !
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md">
                <label for="password">Password :</label>
                <input type="password" class="form-control" id="password" aria-describedby="passwordHelp" placeholder="Enter User name" required>
                <small id="passwordHelp" class="form-text text-muted">This should be Your password</small>
                <div class="invalid-feedback">
                    Please Enter a correct password !
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Sign In</button>
</fieldset>
</form>


