   <!-- User Registration form  -->
   <form action="/login" method="post" class="main-form mt-10 needs-validation" novalidate>
    <fieldset>
        <legend>Add Product Form  </legend>
        <div class="form-row">
            <div class="form-group col-md">
                <label for="name">Product Name :</label>
                <input type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Enter User name" required>
                <small id="nameHelp" class="form-text text-muted">This should be product name</small>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md">
                <label for="price">Product Price :</label>
                <input type="text" class="form-control" id="price" aria-describedby="priceHelp" placeholder="Enter User name" required>
                <small id="priceHelp" class="form-text text-muted">This should be product price</small>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md">
                <label for="description">Product description :</label>
                <input type="text" class="form-control" id="description" aria-describedby="descriptionHelp" placeholder="Enter User name" required>
                <small id="descriptionHelp" class="form-text text-muted">This should be product description</small>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Sign In</button>
</fieldset>
</form>


